@import "src/theme/styles/_var";

.inventory {
  margin-top:$marginFromTitle;

  &__title {
    font-size:$subTitleFontSize;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__content_section {
    font-size: $textFontSize;
    display: flex;
    width: 40%;
    vertical-align: center;
    align-items: center;
  }

}