@import "src/theme/styles/_var";

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 50px;
  color: black;

  @media (min-width: $tabMin) and (max-width: $tabMax) {
    margin: 0 auto;
    justify-content: center;
    width: 50%;
  }

  &__label {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__label_text {
    font-weight: bold;
  }

  &__input {
    border: 1.5px solid black;
    padding: 5px;
    outline: none;
    background-color: inherit;
  }

  &__submit_button {
    border: 1.5px solid $secondaryColor;
    background-color:$secondaryColor;
    color: black;
    font-weight: bold;
    font-size: $textFontSize;
    transition: 0.3s ease all;
    padding: 10px;
    @media (min-width: $tabMin) and (max-width: $tabMax) {
      //font-size:$titleFontSizeTab;
    }
    }

  &__submit_button:hover{
    background-color: inherit;
  }
}